<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IService2">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="MsgTcpBindingAppService" closeTimeout="00:00:10"
                    openTimeout="00:00:10" receiveTimeout="01:00:00" sendTimeout="01:00:00"
                    transactionFlow="false" maxBufferSize="209715200" maxReceivedMessageSize="209715200">
                    <readerQuotas maxDepth="32" maxStringContentLength="209715200"
                        maxArrayLength="209715200" maxBytesPerRead="209715200" maxNameTableCharCount="209715200" />
                    <reliableSession ordered="false" inactivityTimeout="01:00:00" enabled="true" />
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IService">
                    <!--<reliableSession inactivityTimeout="01:00:00" enabled="true" />-->
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:1234/PerSession" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService1" contract="PerSessionService.IService"
                name="NetTcpBinding_IService1">
                <identity>
                    <userPrincipalName value="TOM-PC\Tom" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1234/Single" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService2" contract="SingleService.IService"
                name="NetTcpBinding_IService2">
                <identity>
                    <userPrincipalName value="TOM-PC\Tom" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:1234/PerCall" binding="netTcpBinding"
                bindingConfiguration="MsgTcpBindingAppService" contract="PerCallService.IService"
                name="NetTcpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>