<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <!--<diagnostics performanceCounters="All" />-->
    <services>
      <service name="Server.PerCallService" behaviorConfiguration="testBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:1234/PerCall"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" contract="Server.IService" bindingConfiguration="OssTcpBinding"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Server.SingleService" behaviorConfiguration="testBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:1234/Single"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" contract="Server.IService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Server.PerSessionService" behaviorConfiguration="testBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:1234/PerSession"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" contract="Server.IService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Server.CalculatorService" behaviorConfiguration="testBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:1234/callback"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" contract="Server.ICalculatorService" bindingConfiguration="OssTcpBinding" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="testBehavior">
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <serviceMetadata />
          <serviceThrottling maxConcurrentCalls="2" maxConcurrentInstances="2" maxConcurrentSessions="2"/>
          <dataContractSerializer maxItemsInObjectGraph="10485760" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="OssTcpBinding" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="00:00:20" sendTimeout="00:00:10" transactionFlow="false"
                 maxBufferSize="209715200" maxReceivedMessageSize="209715200">
          <readerQuotas maxDepth="32" maxStringContentLength="209715200" maxArrayLength="209715200" maxBytesPerRead="209715200" maxNameTableCharCount="209715200" />
          <reliableSession ordered="false" inactivityTimeout="00:00:10" enabled="true"/>
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <!--<customBinding>
        <binding name="reliableCustomBinding" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="00:00:10">
          <reliableSession acknowledgementInterval="01:00:00"
                           inactivityTimeout="00:00:10"/>
          <binaryMessageEncoding>
            <readerQuotas maxDepth="32" maxStringContentLength="209715200" maxArrayLength="209715200" maxBytesPerRead="209715200" maxNameTableCharCount="209715200" />
          </binaryMessageEncoding>
          <tcpTransport maxBufferPoolSize="1966080" maxBufferSize="209715200" maxReceivedMessageSize="209715200"/>
        </binding>
      </customBinding>-->
    </bindings>

  </system.serviceModel>
</configuration>